.header{
	position: relative;
	height: 100px;
	width: 100%;
	background-color: #eee;
}

.footer{
	height: 100px;
	width: 100%;

	background-color: #ddd;	
}

.section-left{
	float: left;
	min-height: 700px;
	width: 30%;
	background-color: #ccc;
}

.section-right{
	float: right;
	min-height: 700px;
	width: 70%;
	background-color: #bbb;
}